--
-- PostgreSQL database cluster dump
--

\restrict zF74H1u0Krjv0G0TdUUcMOCZe1w83TiVPIZi5Fv3YOdOIEs8KfbgXB34UJctvnm

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:Kw2/adIw8yxgMNTRO4cj1Q==$WR4XmJGJ84BbpWcPw5+7hRkzvLLB5Up95EXLObo+i8U=:wJLtlx2TqujCGxwkdckcIEtY7yg+8zOhxJHEbXAyp/o=';

--
-- User Configurations
--








\unrestrict zF74H1u0Krjv0G0TdUUcMOCZe1w83TiVPIZi5Fv3YOdOIEs8KfbgXB34UJctvnm

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict E7TzHXGg2hoZNPYRnorhhyOfVmuMsgl5Szix8Jpohc8qOCZKu8ON5sShUPeVAsX

-- Dumped from database version 17.8 (Debian 17.8-1.pgdg13+1)
-- Dumped by pg_dump version 17.8 (Debian 17.8-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict E7TzHXGg2hoZNPYRnorhhyOfVmuMsgl5Szix8Jpohc8qOCZKu8ON5sShUPeVAsX

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict 8VHAN3xCVMDlWUT9rbQMqfVujaLFAN0NR0prZq6lFXMcSE0nc3fvCL7HkQZaFH4

-- Dumped from database version 17.8 (Debian 17.8-1.pgdg13+1)
-- Dumped by pg_dump version 17.8 (Debian 17.8-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict 8VHAN3xCVMDlWUT9rbQMqfVujaLFAN0NR0prZq6lFXMcSE0nc3fvCL7HkQZaFH4

--
-- PostgreSQL database cluster dump complete
--

